body {
	background-color: #F2F2F2;
}

/*列表*/
table {
	background-color: #FFF;
	width: 95%;
}

tr {
	text-align: center;
}

/*列表标题*/
.tr_title {
	background-color: #565656;
	color: white;
	height: 35px;
}

td {
	min-height: 45px;
}